*
{   
    margin: 0;
    padding: 0;
   
}

.header
{
    
    min-height: 100vh;
    width: 100%;
    background-color:#253b80;
    opacity: 2;
    background-position: center;
    background-size: cover;
    position: relative;

}


nav{
    display: flex;
    padding: 1.5% 1%;
    justify-content: space-between;
   

}
.nav-links
{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 1px 12px;
    position: relative;
}
.nav-links ul li a{

    color:white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(0, 0, 0);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box1
{
    font-size: 15px;
    width: 90%;
    color:white;
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translate(-50%,-50%);
    text-align: center; 
  
}    
.text-box1 p{
    font-size: 17px;
}


.text-box {
    font-size: 35px;
    width: 90%;
    color:white;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center; 
       
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
} 
.hero-btn
{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid rgb(255, 255, 255);
border-radius: 20px;
    background-color:black;
    transition: 1s;
}
.Course
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
 .course h1{
    color: black;
    font-size: 36px;
    font-weight: 600;
}
.Course p
{
    color:rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row
{
    color: white;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col
{
    flex-basis: 31%;
    background: skyblue;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

}
.Course row course-col h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px black;
}
.campus
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.campus-col img {
    width: 100%;
    display: block;

}
.layer
{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    

}
.layer:hover{
    background:rgba(0, 0, 0, 0.7)

}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.facilities
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;

}

.campus
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-row{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.campus-row img {
    width: 100%;
    display: block;

}
.layer
{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    

}
.layer:hover{
    background:rgba(0, 0, 0, 0.7)

}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.layer p{
    width: 100%;
    font-weight: 500;
    color:skyblue;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover p{
    bottom: 40%;
    opacity: 1;
}
.cta{
    margin: 100px auto;
    width: 80%;
    background-color:rgb(48, 224, 237);
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 50px 0;
}
.cta h1{
color: rgb(0, 0, 0);
margin-bottom: 20px;
padding: 0;
}
.cta h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;

}
.sc
{
    margin-left: 45px;
}